<div class="container">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-md-6">
            <div class="card card-align card-width">
                <div class="card-header">Seller's SignUp</div>
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="username">User Name</label>
                                    <input type="text" class="form-control" id="username" placeholder="Enter username"
                                        name="user" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="pass" placeholder="Enter password"
                                        name="password" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="companyname">Company Name</label>
                                    <input type="text" class="form-control" id="companyname"
                                        placeholder="Enter companyname" name="companyname" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="gstin">GSTIN</label>
                                    <input type="text" class="form-control" id="gstin" placeholder="GSTIN"
                                        name="gstin" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="brief about company">About</label>
                                    <textarea class="form-control" id="brief about company" rows="3"
                                        name="brief about company"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="postal address">Address</label>
                                    <textarea class="form-control" id="postal address" rows="3"
                                        name="postal address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="email">Email ID</label>
                                    <input type="email" class="form-control" placeholder="Enter email" id="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="text" class="form-control" placeholder="website" name="website">
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="mobile no">Mobile No</label>
                                    <input type="text" class="form-control" placeholder="Mobile No" name="mobile no">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>